/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Poppins:wght@400;500;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {

    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(206, 43%, 50%);  --first-gradient: linear-gradient(90deg,
                  hsl(121, 100%, 37%),
                  hsl(143, 74%, 29%));
  --second-gradient: linear-gradient(90deg,
                  hsl(192, 100%, 84%),
                  hsl(225, 100%, 43%));
  --third-gradient: linear-gradient(90deg,
                  hsl(114, 100%, 28%),
                  hsl(70, 100%, 69%));  
    --second-color: hsl(132, 47%, 45%);
    --text-color: hsl(0, 0%, 70%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 17%); 
    
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Share Tech Mono", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;  
    
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 5.5rem;
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
  }
  
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family:  var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
button {
    border: none;
    outline: none;
}

h1,h2,h3,h4 {
    color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid { 
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 5rem 1rem;
}

.main { 
    overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo img {
    width: 2rem;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

.nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 12%, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 8rem 3.5rem 3.5rem;
    transition: right .4s;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close {
    position: absolute
    ;
}

.nav__close {
    top: 1rem;
    right: 1.5rem;
}

/*Show Menu */
.show-menu {
    right: 0;
}

/* Add blur header */

/* Active link */

/*=============== HOME ===============*/
.home {
    position: relative;
}

.home__container {
    position: relative;
    row-gap: 3rem;
    padding-top: 3rem;
}

.home__data {
    position: relative;
    text-align: center;
}

.home__title span {
    display: block;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    font-weight: initial;
    margin-bottom: 0.5rem;
  }

.home__description {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.home__title span:nth-child(1){
    background: var(--third-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

.home__title span:nth-child(3) {
  background: var(--second-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home__img {
    width: 320px;
    justify-self: center;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  justify-content: center;
  background: var(--first-gradient);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 8px 32px hsla(147, 97%, 46%, 0.4);
}
